server {
	listen 8080;

	location / {
		allow_methods GET;
		autoindex on;
		index oui;
		index non;
	}

	location /cgi-bin {
		root ./scripts;
		allow_methods GET POST;
		cgi_ext .py;
		cgi_path /usr/bin/python3;
		error_page 400 401 /www.jsp;
		return 200;
	}

	location /upload {
		allow_methods POST DELETE;
		upload_store /www/uploads;
		return 200;
	}
	index rien;
	return 300 www.youhou;
	error_page 401 400 402 /www.rien;
	root ./www;
	client_max_body_size 1K;
}
