server {
    listen 8080;
    host 127.0.0.1;
    root ./www;
    index index.html;
    error_page 404 413 /404_custom.html;
    client_max_body_size 3000000000;

    location /uploads {
        allow_methods GET POST DELETE;
        upload_store ./www/uploads;
        autoindex on;
    }
    location /too-small {
        allow_methods POST;
        upload_store ./www/uploads;
        client_max_body_size 10;
    }
    location /cgi-bin{
        allow_methods GET POST;
        cgi_ext .py;
        cgi_path /usr/bin/python3;
    }
    location /
    {
        allow_methods GET;
    }
}

server {
    listen 9090;
    host 127.0.0.1;
    root ./www2;
    index index.html;
}