server {
	listen 8080;
	host 127.0.0.1;
	root ./www;
	index index.html;
	error_page 404 /404_custom.html;

	location /uploads {
		allow_methods GET POST DELETE;
		upload_store ./www/uploads;
		client_max_body_size 3000000000;
		autoindex on;
	}
	location /too-small {
		allow_methods POST;
		upload_store ./www/uploads;
		client_max_body_size 10;
	}
	location /cgi-bin{
		allow_methods GET POST;
		cgi_ext .py;
		cgi_path /usr/bin/python3;
	}
	location / {
		allow_methods GET;
		root ./www;
		index index.html;
		cgi_ext .bla;
		cgi_path /home/ele-moig/Documents/Cursus/cercle05/webserv/cgi_tester;
	}
	location /post_body {
		allow_methods POST;
		client_max_body_size 100;
	}
	location /directory/ {
		allow_methods GET;
		root ./YoupiBanane;
		index youpi.bad_extension;
	}
}

server {
	listen 9090;
	host 127.0.0.1;
	root ./www2;
	index index.html;
	error_page 404 /404_custom.html;
}